img{
    width: 400px;
}
h1{
    background: green;
    color: white;
}

h2{
    background: #fcdb04;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

p{
    background: silver;
    color: indigo;
    text-align: justify;

}

ul{
    background: #fcdb04;
}

